@import '@fontsource/figtree';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'figtree', sans-serif;
    font-weight: 400;
}

#nprogress .bar {
    height: 7px !important; 
    background: linear-gradient(to right, #a855f7, #34d399) !important;
}